@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
    background: url(../Images/1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}