@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
    background: url(../Images/1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#junior {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Images/2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#teenager {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Images/3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#professional {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Images/4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}